/* src/components/PortfolioGrid.css */
.card {
    border: none!important;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.filter-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.filter-button {
    min-width: 62px;
    background: #2c2e78;
    border-radius: 5px;
    border-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #ccc;
    padding: .3rem .5rem;
}
.crud-button {
    min-width: 62px;
    border-radius: 5px;
    border-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #ccc;
    padding: .3rem .5rem;
}